<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="HandheldFriendly" content="true">
    <title>我的博客</title>
    <link href="__INDEX__/css/index.css" rel="stylesheet"></link>
    <link href="__INDEX__/css/bootstrap.css" rel="stylesheet">
    <link href="__INDEX__/js/bootstrap.js" rel="stylesheet">
    <link href="__INDEX__/js/jquery.js" rel="stylesheet">
</head>

<body>
<div class="container">
    <!--头部-->
    <div class="header">
        <div class="header_left">
            <a href="index.html">hacker_wtm的博客</a>
            <p class="header_left_desc">我是一个爱学习的菜鸟</p>
        </div>
        <div class="header_right">
            <a href="index.html">RSS订阅</a>
            <a href="index.html">管理博客</a>
        </div>
    </div>

    <!--左侧-->
    <div class="left">
        <!--个人信息-->
        <h6>个人资料</h6>
        <div class="left-first">
            <img src="__INDEX__/images/header.png">
            <span class="left-first-uname">Hacker_wtm</span>
        </div>
        <!--原创-->
        <div class="left-second">
            <dl>
                <a href="">原创</a>
                <a href="">10</a>
            </dl>

            <dl>
                <dt>粉丝</dt>
                <span>250</span>
            </dl>

            <dl>
                <dt>喜欢</dt>
                <span>56</span>
            </dl>

            <dl>
                <dt>评论</dt>
                <span>31</span>
            </dl>
        </div>
        <!--等级，积分-->
        <div class="left-third">
            <div class="third-div">
                <span>等级：12</span>
                <span>积分：66</span>
            </div>
            <div class="third-div">
                <span>访问：12</span>
                <span>排名：6600+</span>
            </div>
        </div>
        <!--轮播图-->
        <div class="left-four">
            <img src="__INDEX__/images/header.png">
        </div>
        <!--归档-->
        <div class="left-guidang">
            <h6>归档</h6>
            <div class="left-guidang-div">
                <a href="index.html">2018-09-09</a>
                <span>1篇</span>
            </div>

            <div class="left-guidang-div">
                <a href="index.html">2018-09-09</a>
                <span>1篇</span>
            </div>

            <div class="left-guidang-div">
                <a href="index.html">2018-09-09</a>
                <span>1篇</span>
            </div>

            <div class="left-guidang-div">
                <a href="index.html">2018-09-09</a>
                <span>1篇</span>
            </div>

        </div>

        <div class="left-hot">
            <h6>热门文章</h6>
            <div class="left-hot-div">
                <a href="index.html">php学习路线图</a>
                <span>阅读量: 558</span>
            </div>

            <div class="left-hot-div">
                <a href="index.html">php学习路线图</a>
                <span>阅读量: 558</span>
            </div>

            <div class="left-hot-div">
                <a href="index.html">php学习路线图</a>
                <span>阅读量: 558</span>
            </div>

            <div class="left-hot-div">
                <a href="index.html">php学习路线图</a>
                <span>阅读量: 558</span>
            </div>

        </div>

        <div class="left-four">
            <img src="__INDEX__/images/header.png">
        </div>
    </div>
    <!--右侧-->
    <div class="right">
        <div class="right-banner">
            <span>
                <input type="checkbox">只看原创
            </span>
            <div class="banner-right">
                <span>排序:&nbsp;</span>
                <a href="" style="color: #ca0c16">默认</a>
                <a href="">按更新时间</a>
                <a href="">按访问量</a>
            </div>
        </div>

        <div class="right-div">
            <h4 class="right-h4">
                <a href="" target="_blank">php7新特性</a>
            </h4>
            <p class="right-content">
                <a href="index.html">这是内容显示这是内容显示这是内容显示这是内容显示这是内容显示这是内容显示这是内容显示这是内容显示这是内容显示这是内容显示这是内容显示这是内容显示这是内容显示这是内容显示</a>
            </p>
            <div class="right-comment">
                <span>2018-08-30 18:01:04</span>
                <span>阅读数：7 </span>
                <span>评论数：0</span>
            </div>
        </div>
        <div class="right-div">
            <h4 class="right-h4">
                <a href="" target="_blank">php7新特性</a>
            </h4>
            <p class="right-content">
                <a href="index.html">这是内容显示</a>
            </p>
            <div class="right-comment">
                <span>2018-08-30 18:01:04</span>
                <span>阅读数：7 </span>
                <span>评论数：0</span>
            </div>
        </div>
        <div class="right-div">
            <h4 class="right-h4">
                <a href="" target="_blank">php7新特性</a>
            </h4>
            <p class="right-content">
                <a href="index.html">这是内容显示</a>
            </p>
            <div class="right-comment">
                <span>2018-08-30 18:01:04</span>
                <span>阅读数：7 </span>
                <span>评论数：0</span>
            </div>
        </div>
        <div class="right-div">
            <h4 class="right-h4">
                <a href="" target="_blank">php7新特性</a>
            </h4>
            <p class="right-content">
                <a href="index.html">这是内容显示</a>
            </p>
            <div class="right-comment">
                <span>2018-08-30 18:01:04</span>
                <span>阅读数：7 </span>
                <span>评论数：0</span>
            </div>
        </div>
        <div class="right-div">
            <h4 class="right-h4">
                <a href="" target="_blank">php7新特性</a>
            </h4>
            <p class="right-content">
                <a href="index.html">这是内容显示</a>
            </p>
            <div class="right-comment">
                <span>2018-08-30 18:01:04</span>
                <span>阅读数：7 </span>
                <span>评论数：0</span>
            </div>
        </div>
        <div class="right-div">
            <h4 class="right-h4">
                <a href="" target="_blank">php7新特性</a>
            </h4>
            <p class="right-content">
                <a href="index.html">这是内容显示</a>
            </p>
            <div class="right-comment">
                <span>2018-08-30 18:01:04</span>
                <span>阅读数：7 </span>
                <span>评论数：0</span>
            </div>
        </div>
        <div class="right-div">
            <h4 class="right-h4">
                <a href="" target="_blank">php7新特性</a>
            </h4>
            <p class="right-content">
                <a href="index.html">这是内容显示</a>
            </p>
            <div class="right-comment">
                <span>2018-08-30 18:01:04</span>
                <span>阅读数：7 </span>
                <span>评论数：0</span>
            </div>
        </div>
        <div class="right-div">
            <h4 class="right-h4">
                <a href="" target="_blank">php7新特性</a>
            </h4>
            <p class="right-content">
                <a href="index.html">这是内容显示</a>
            </p>
            <div class="right-comment">
                <span>2018-08-30 18:01:04</span>
                <span>阅读数：7 </span>
                <span>评论数：0</span>
            </div>
        </div>
        <div class="right-div">
            <h4 class="right-h4">
                <a href="" target="_blank">php7新特性</a>
            </h4>
            <p class="right-content">
                <a href="index.html">这是内容显示这是内容显示这是内容显示这是内容显示这是内容显示这是内容显示这是内容显示这是内容显示这是内容显示这是内容显示这是内容显示这是内容显示
                </a>
            </p>
            <div class="right-comment">
                <span>2018-08-30 18:01:04</span>
                <span>阅读数：7 </span>
                <span>评论数：0</span>
            </div>
        </div>
        <div class="right-div">
            <h4 class="right-h4">
                <a href="" target="_blank">php7新特性</a>
            </h4>
            <p class="right-content">
                <a href="index.html">这是内容显示</a>
            </p>
            <div class="right-comment">
                <span>2018-08-30 18:01:04</span>
                <span>阅读数：7 </span>
                <span>评论数：0</span>
            </div>
        </div>
        <div class="right-div">
            <h4 class="right-h4">
                <a href="" target="_blank">php7新特性</a>
            </h4>
            <p class="right-content">
                <a href="index.html">这是内容显示</a>
            </p>
            <div class="right-comment">
                <span>2018-08-30 18:01:04</span>
                <span>阅读数：7 </span>
                <span>评论数：0</span>
            </div>
        </div>
        <div class="right-div">
            <h4 class="right-h4">
                <a href="" target="_blank">php7新特性</a>
            </h4>
            <p class="right-content">
                <a href="index.html">这是内容显示</a>
            </p>
            <div class="right-comment">
                <span>2018-08-30 18:01:04</span>
                <span>阅读数：7 </span>
                <span>评论数：0</span>
            </div>
        </div>
        <div class="right-div">
            <h4 class="right-h4">
                <a href="" target="_blank">php7新特性</a>
            </h4>
            <p class="right-content">
                <a href="index.html">这是内容显示</a>
            </p>
            <div class="right-comment">
                <span>2018-08-30 18:01:04</span>
                <span>阅读数：7 </span>
                <span>评论数：0</span>
            </div>
        </div>
        <div class="right-div">
            <h4 class="right-h4">
                <a href="" target="_blank">php7新特性</a>
            </h4>
            <p class="right-content">
                <a href="index.html">这是内容显示</a>
            </p>
            <div class="right-comment">
                <span>2018-08-30 18:01:04</span>
                <span>阅读数：7 </span>
                <span>评论数：0</span>
            </div>
        </div>
        <div class="right-div">
            <h4 class="right-h4">
                <a href="" target="_blank">php7新特性</a>
            </h4>
            <p class="right-content">
                <a href="index.html">这是内容显示</a>
            </p>
            <div class="right-comment">
                <span>2018-08-30 18:01:04</span>
                <span>阅读数：7 </span>
                <span>评论数：0</span>
            </div>
        </div>
        <div class="right-div">
            <h4 class="right-h4">
                <a href="" target="_blank">php7新特性</a>
            </h4>
            <p class="right-content">
                <a href="index.html">这是内容显示</a>
            </p>
            <div class="right-comment">
                <span>2018-08-30 18:01:04</span>
                <span>阅读数：7 </span>
                <span>评论数：0</span>
            </div>
        </div>
        <div class="right-div">
            <h4 class="right-h4">
                <a href="" target="_blank">php7新特性</a>
            </h4>
            <p class="right-content">
                <a href="index.html">这是内容显示</a>
            </p>
            <div class="right-comment">
                <span>2018-08-30 18:01:04</span>
                <span>阅读数：7 </span>
                <span>评论数：0</span>
            </div>
        </div>
        <div class="right-div">
            <h4 class="right-h4">
                <a href="" target="_blank">php7新特性</a>
            </h4>
            <p class="right-content">
                <a href="index.html">这是内容显示</a>
            </p>
            <div class="right-comment">
                <span>2018-08-30 18:01:04</span>
                <span>阅读数：7 </span>
                <span>评论数：0</span>
            </div>
        </div>
    </div>

</div>
</body>
</html>